Repository tommie-farids/dynamic-config-test2: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-server-tests, run-client-tests

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@2.0.1

workflows:
  filter-path:
    jobs:
      - path-filtering/filter:
          name: detect-modified-directories
          mapping: |
            server/.* run-server-tests true
            client/.* run-client-tests true
            .circleci/.* run-server-tests true
            .circleci/.* run-client-tests true
          base-revision: dynamic_config

fix(ci): resolve indentation error in continuation config
  .circleci/continue_config.yml
Due: run-server-tests, run-client-tests

test: display products when api call is successful
  client/src/pages/Products.test.jsx
Due: run-client-tests

ci: define build job for client app
  .circleci/continue_config.yml
Due: run-server-tests, run-client-tests

chore: add client test command to test script
  package.json
Due: none

test: add hook to create db table if not exists
  server/test/products.test.js
Due: run-server-tests

ci: define mysql db setup
  .circleci/config.yml
  .circleci/continue_config.yml
Due: run-server-tests, run-client-tests

fix(ci): add missing colon to checkout step
  .circleci/continue_config.yml
Due: run-server-tests, run-client-tests

fix(ci): fix typo in mysql cimg string
  .circleci/continue_config.yml
Due: run-server-tests, run-client-tests

fix(ci): resolve db setup issue
  .circleci/continue_config.yml
  server/db/init.sql
Due: run-server-tests, run-client-tests

fix(ci): specify table in sql DROP command
  server/db/init.sql
Due: run-server-tests

chore: correct typo in "monorepo" keyword
  package.json
Due: none

chore: add dev script
  server/package.json
Due: run-server-tests

ci: create user with env variable
  .circleci/continue_config.yml
Due: run-server-tests, run-client-tests

refactor: grant db privileges to test_user
  server/db/init.sql
Due: run-server-tests

chore: log db connection id to console
  server/index.js
Due: run-server-tests

feat: dockerize server app
  server/.dockerignore
  server/Dockerfile
  server/compose.override.yaml
  server/compose.prod.yaml
  server/compose.yaml
Due: run-server-tests

chore: change image and container names
  server/compose.override.yaml
  server/compose.prod.yaml
  server/compose.yaml
Due: run-server-tests

chore: match AS and FROM keyword casing
  server/Dockerfile
Due: run-server-tests

refactor: pull server image from Docker Hub in production
  server/compose.prod.yaml
Due: run-server-tests

ci: add job to publish server app to docker hub
  .circleci/continue_config.yml
Due: run-server-tests, run-client-tests

fix(ci): checkout code to project root directory
  .circleci/continue_config.yml
Due: run-server-tests, run-client-tests

fix(ci): specify correct work_dir for publish job
  .circleci/continue_config.yml
Due: run-server-tests, run-client-tests

fix(ci): authenticate with Docker Hub
  .circleci/continue_config.yml
Due: run-server-tests, run-client-tests

refactor(ci): retrieve version number from package.json with jq
  .circleci/continue_config.yml
Due: run-server-tests, run-client-tests

build: specify base Node.js image using SemVer
  server/Dockerfile
Due: run-server-tests

chore: remove unnecessary flags from server dev script
  server/package.json
Due: run-server-tests

ci: specify cimg Node.js version using SemVer
  .circleci/continue_config.yml
Due: run-server-tests, run-client-tests

ci: remove unnecessary Docker auth block
  .circleci/continue_config.yml
Due: run-server-tests, run-client-tests

refactor(ci): rearrange order of jobs
  .circleci/continue_config.yml
Due: run-server-tests, run-client-tests

ci: delete .circleci folder
  .circleci/config.yml
  .circleci/continue_config.yml
Due: run-server-tests, run-client-tests

refactor: change name and user in db init script
  server/db/init.sql
Due: run-server-tests

ci: set up dynamic config
  .circleci/config.yml
  .circleci/continue_config.yml
Due: run-server-tests, run-client-tests

chore: trigger server job
  server/index.js
Due: run-server-tests
